# Database configuration
# DATABASE_URL="file:../dev.db"
DATABASE_URL=postgresql://postgres:Zhangpeng881028@localhost:5432/will
DIRECT_URL=postgresql://postgres:Zhangpeng881028@localhost:5432/will

# Environment
NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET=bC8Wty0r5OdvGhoz1a6DFTckv07C3iMm
# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Authz cache (optional for local development)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
AUTHZ_CACHE_TTL_SECONDS=300
