# Database configuration
# DATABASE_URL="file:../dev.db"
DATABASE_URL=postgresql://user:pwd@ip:port/will
DIRECT_URL=postgresql://user:pwd@ip:port/will

# Environment
NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET=
# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
AUTHZ_CACHE_TTL_SECONDS=300